{% extends 'home/site_base.html' %}

{% block site_content %}
    <div class="container">
        <h1>About Us</h1>

         <div class="row featurette" id="about">
            <div class="col-md-7">
              <h2 class="featurette-heading">About Us<span class="text-muted"> Something about us</span></h2>
              <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
         </div>
    </div>


{% endblock %}