{% extends 'home/site_base.html' %}

{% block site_content %}




    <div class="container marketing">
      <div class="row featurette">
        <div class="col-md-12">
          <h1 class="featurette-heading">Events </h1>
          <p>We conduct meetups on regular basis, following are recent meetups conducted</p>
        </div>

          <div class="col-md-12">
              <hr />
          </div>

        <div class="col-md-12">
            <h2><a href="https://www.meetup.com/Hyderabad-Python-Meetup-Group/events/233703414/" target="_blank">Data analysis using Python</a></h2>
            <p>
              <strong>Date :</strong>September 10 , 10:30 AM 
            </p>
            <p>
              <strong>Details :</strong>Introduction to Pandas library and demo its capabilities as a data analysis tool and hands on session 
            </p>
            <p>
                <strong>Location :</strong> Level III, SLN Terminus, Gachibowli Miyapur Road, 
                Jayabheri Enclave, Gachibowli, Jayabheri Enclave, Gachibowli,
                Hyderabad
            </p>
            <p>
                <a href="https://www.meetup.com/Hyderabad-Python-Meetup-Group/events/233703414/" target="_blank" >Read more</a>
            </p>
        </div>

          <div class="col-md-12">
              <hr />
          </div>

        <div class="col-md-12">
              <h2><a href="https://www.meetup.com/Hyderabad-Python-Meetup-Group/events/233504070/" target="_blank">Datastructures in Python</a></h2>
              <p>
                  <strong>Date :</strong>August 27 , 10:30 AM
              </p>
              <p>
                  <strong>Details :</strong>We will discuss and learn about various built in datastructures we have in python.<br />
                  List <br />
                  Dictionary <br />
                  Tuple <br />
                  Set<br />

              </p>
              <p>
                  <strong>Location :</strong> Level III, SLN Terminus, Gachibowli Miyapur Road,
                  Jayabheri Enclave, Gachibowli, Jayabheri Enclave, Gachibowli,
                  Hyderabad
              </p>
              <p>
                  <a href="https://www.meetup.com/Hyderabad-Python-Meetup-Group/events/233504070/" target="_blank">Read more</a>
              </p>
          </div>

          <div class="col-md-12">
              <hr />
          </div>

        <div class="col-md-12">
              <h2><a href="https://www.meetup.com/Hyderabad-Python-Meetup-Group/events/233034829/" target="_blank">Hyderabad Python Charter Meeting</a></h2>
              <p>
                  <strong>Date :</strong>August 6 , 10:30 AM
              </p>
              <p>
                  <strong>Details :</strong>
                  This meeting is to define
                  <br />
                  • Objectives of this Python Group
                  <br />
                  • Plan future meetup
                  <br />
                  • Select/nominate volunteers for facilitating meetup
                  <br />
                  • Discuss on participation in Open Source Project.
                  <br />
                  All Python Developer who are passionate about python & willing to participate & contribute are welcome.
                  
              </p>
              <p>
                  <strong>Location :</strong> Lane beside Cbay, near GVK one mall, Banjara Hills, Hyderabad
              </p>
              <p>
                  <a href="https://www.meetup.com/Hyderabad-Python-Meetup-Group/events/233034829/" target="_blank">Read more</a>
              </p>
          </div>

          <div class="col-md-12">
              <hr />
          </div>

        <div class="col-md-12">
              <h2><a href="https://www.meetup.com/Hyderabad-Python-Meetup-Group/events/231649594/" target="_blank">Python: Hands on Session</a></h2>
              <p>
                  <strong>Date :</strong>July 2 , 9:45 AM
              </p>
              <p>
                  <strong>Details :</strong>
                  This is hands on session on Python; Follow up session from Python For Beginners.<br />
                  Requirement:<br />
                  - Basic knowledge on Programming<br />
                  - Please bring your laptops.

              </p>
              <p>
                  <strong>Location :</strong>Door # 1-65/2/67/B, Plot # 67, Kavuri Hills, Phase 2, 67, Kavuri Hills Rd, Kavuri Hills Phase 1, Madhapur, Hyderabad
              </p>
              <p>
                  <a href="https://www.meetup.com/Hyderabad-Python-Meetup-Group/events/231649594/" target="_blank">Read more</a>
              </p>
          </div>
        
        <div class="col-md-12">
            <hr />
        </div>

        <div class="col-md-12">
              <h2><a href="https://www.meetup.com/Hyderabad-Python-Meetup-Group/events/229959651/" target="_blank">Python: For Beginners</a></h2>
              <p>
                  <strong>Date :</strong>April 9 , 9:30 AM
              </p>
              <p>
                  <strong>Details :</strong>
                  Learn to program in python. This is session will covers all the python basics, and offers a tour of the language and the standard library.
                  Recommended for those who need a quick-start guide to the language.

              </p>
              <p>
                  <strong>Location :</strong>Building # 5A, Raheja mindspace, HITEC City, Hyderabad, Hyderabad
              </p>
              <p>
                  <a href="https://www.meetup.com/Hyderabad-Python-Meetup-Group/events/229959651/" target="_blank">Read more</a>
              </p>
          </div>
      </div>
    </div>
  {% endblock site_content%}
