{% extends 'home/site_base.html' %}

{% block site_content %}




    <div class="container marketing">
      <div class="row featurette">
        <div class="col-md-12">
          <h1 class="featurette-heading">FAQ's </h1>
          <p>There are no Dumb questions !</p>
        </div>

        <div class="col-md-12">
          <hr />
        </div>

        <div class="col-md-12">
            <h4><strong>1) What is this site about? </strong></h4>
            <p>
                HydPy.org is about the Hyderabad Python User Group, here you will find all the cool stuff related this group like past and upcoming activities/Workshops, Meetup events, Technical Blogs and Discussion forums.
            </p>

        </div>

        <div class="col-md-12">
            <h4><strong>2) How will this site help me?</strong> </h4>
            <p>
                This site is for anybody who wants to learn or share their knowledge about Python Programming Language, Discuss about The about their new projects, seek and provide help to other python enthusiast's like you.
            </p>

        </div>

        <div class="col-md-12">
            <h4><strong>3) Do you have subscription list?</strong></h4>
            <p>
                Yes, below are the links
                <p>
                <strong>Mailing List:</strong>
                 <p>
                    <a href="https://mail.python.org/mm3/mailman3/lists/hydpy.python.org" target="_blank" >https://mail.python.org/mm3/mailman3/lists/hydpy.python.org</a>
                 </p>
                <p>
                <strong>Facebook Page:</strong>
                 <p>
                    <a href="https://www.facebook.com/hydpy" target="_blank" >https://www.facebook.com/hydpy</a>
                 </p>
                <p>
                <strong>Meetup Group Page:</strong>
                 <p>
                    <a href="http://www.meetup.com/Hyderabad-Python-Meetup-Group/" target="_blank" >http://www.meetup.com/Hyderabad-Python-Meetup-Group/</a>
                 </p>
                <p>
              <!--  <strong>Whatsapp Group Invitation:</strong>
                 <p>
                    <a href="https://chat.whatsapp.com/BuiY7n6qDvw0dXPfSbqzyv" target="_blank" >https://chat.whatsapp.com/BuiY7n6qDvw0dXPfSbqzyv</a>
                 </p>
                </p>
                -->
            </p>

        </div>

        <div class="col-md-12">
            <h4><strong>4) I have no knowledge of Python nor i am python enthusiast, Can I still subscribe?</strong></h4>
            <p>
                Yes, Subscription will help you to receive the updates about the upcoming workshop or activities conducted by the group.
            </p>

        </div>

        <div class="col-md-12">
            <h4><strong>5) Can i participate to give sessions.</strong></h4>
            <p>
                Of course you can, we would be happy to help. Just subscribe to the above links and get in touch with us. Session topics should be relevant to Python Programming Language and its related technologies.
            </p>

        </div>

      </div>
    </div>
  {% endblock site_content%}
