<!-- FOOTER -->
<div class="container">
    <hr class="featurette-divider">
    <footer>
        <p class="pull-right">
            <a href="https://mail.python.org/mm3/archives/list/hydpy@python.org/" target="_blank">Mailing list</a>
            &middot; <a href="http://www.meetup.com/Hyderabad-Python-Meetup-Group/" target="_blank">Meet up</a>
            &middot; <a href="https://www.facebook.com/hydpy" target="_blank">Facebook</a>
        </p>

      <p>&copy; 2016 Hyderabad Python Group </p>
    </footer>
</div>