---
layout: faqs
title: Faqs
permalink: /faqs/
---

<div class="container mtb">
    <div class="row">

        <! -- Faqs LIST -->
        <div class="col-lg-8">

            {% for question in site.faqs %}
                <! -- Questions  -->
                <h3 class="ctitle">{{ question.title }}</h3>

                {{ question.excerpt }}

                <div class="hline"></div>

                <div class="spacing"></div>
            {% endfor %}

        </div><! --/col-lg-8 -->

        {% include sidebar_events.html %}

    </div><! --/row -->
</div><! --/container -->
