---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <h2>What we do?</h2>
            <div class="col-md-6">
                <i class="fa fa-comments" aria-hidden="true"></i>
                <span class="sr-only">Monthly presentation series</span>
                <h4>Monthly presentation series</h4>
                <p>These are longish presentations (about an hour) about topics of interest to the community. Often we also have lightning talks (5-15 minutes) also. If you have something you'd like to share with everyone, drop a line to the organizers!</p>
                <p><br/><a href="/events/" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-6">
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <span class="sr-only">Monthly informal project nights</span>
                <h4>Monthly informal project nights</h4>
                <p>These are a chance to sit down with other Python developers of all experience levels to push your project forward, get help with a particular trouble spot, share expertise, or do whatever else you like.</p>
                <p><br/><a href="/events/" class="btn btn-theme">More Info</a></p>
            </div>
        </div>
    </div><! --/container -->
</div><! --/service -->

{% include testimonial.html %}


<div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>More About Our Community</h4>
            <div class="hline"></div>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">About Us</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for question in site.faqs limit:3%}
                <p>{{ question.title }}</p>
            {% endfor %}
            <p><br/><a href="{{ "/faqs/" | prepend: site.baseurl }}" class="btn btn-theme">Faqs</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Latest Events</h4>
            <div class="hline"></div>
            {% for post in site.posts limit:3 %}
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %}
            <p><br/><a href="{{ "/events/" | prepend: site.baseurl }}" class="btn btn-theme">Events</a></p>
        </div>

    </div><! --/row -->
</div><! --/container -->
