<div class="footer-container">
    <div class="row justify-content-center">
        <div class="col-lg-3 mt-3">
            <h5>About</h5>
            <div class="h-line"></div>
            <p>{{ site.about }}</p>
        </div>
        <div class="col-lg-3 mt-3">
            <h5>Social Links</h5>
            <div class="h-line"></div>
            <p>
                {% for network in site.social %}
                <a href="{{ network.url }}" class="social-link" target="_blank">
                    <i class="fa-brands fa-{{ network.title }} fs-2" aria-hidden="false"></i>
                    <span class="sr-only">{{network.title}}</span>
                </a>
                {% endfor %}
            </p>
        </div>
        <div class="col-lg-3 mt-3">
            <h5>Our Mailing List</h5>
            <div class="h-line"></div>
            <p>
                <a class="nav-link light p-0" href={{site.email-list}} target="_blank">
                    {{site.email}}
                </a>
            </p>
        </div>
    </div>
</div>