<head>
  <meta name="google-site-verification" content="Spv4rOBbK1s5jQqp-exyOu6PNU2O9U8JCqBRD0ohxeA" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

  <!-- Assets -->
  <link rel="shortcut icon" href="{{ '/assets/favicon/favicon.ico' | prepend: site.baseurl }}">
  <link href="{{ '/assets/css/bootstrap/bootstrap.min.css' | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ '/assets/fontawesome/css/fontawesome.css' | prepend: site.baseurl }}" rel="stylesheet" />
  <link href="{{ '/assets/fontawesome/css/brands.css' | prepend: site.baseurl }}" rel="stylesheet" />
  <link href="{{ '/assets/fontawesome/css/solid.css' | prepend: site.baseurl }}" rel="stylesheet" />
  <link href="{{ '/assets/css/styles.css' | prepend: site.baseurl }}" rel="stylesheet">

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag("js", new Date());
    gtag("config", "{{ site.analytics }}");
  </script>
</head>