<div id="headerwrap">
    <div class="container">
        {% include navbase.html %}

        <div class="row" style="padding-top:120px;">
            <!--<div class="col-lg-2 col-lg-offset-1">
                <a class="navbar-brand" href="{{ "/"  | prepend: site.baseurl }}">
                    <img src="{{ "/assets/img/hydpy3.png" | prepend: site.baseurl }}">
                </a>
            </div>-->
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Hyderabad Python User group</h1>
                <h3>Community driven group for promoting python in Hyderabad.</h3>
            </div>
            <!-- <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div> -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->