<div class="hero-banner">
    <h1>Hyderabad Python User group</h1>
    <p style="font-size: 1.3rem;">Community driven group for promoting python in Hyderabad.</p>
    <div class="row justify-content-center pt-2">
        <div class="col-auto">
            <button class="btn primary">
                <a class="nav-link light" target="_blank" href="https://bit.ly/hydpy-cfp">GIVE A TALK</a>
            </button>
        </div>
        <div class="col-auto">
            <button class="btn secondary">
                <a class="nav-link dark" target="_blank"
                    href="https://github.com/HydPy/HydPy-meetups/issues/new?title=Talk%20Request:%20%3Ctitle%3E&body=%3Cdescription%3E">
                    REQUEST A TALK
                </a>
            </button>
        </div>
    </div>
</div>