<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <span id="navbar-logo">
      <img src="{{ '/assets/img/hydpy.png' | prepend: site.baseurl }}" alt="Hyderabad Python User Group logo">
    </span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarText">
      <div class="navbar-nav mb-2">
        <li class="nav-item">
          <a class="nav-link dark {% if page.title=='Home' %} active {% endif %}"
            href="{{ '/' | prepend: site.baseurl }}">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dark" target="_blank"
            href="{{ 'https://www.meetup.com/hydpygroup/events/past/'}}">EVENTS</a>
        </li>
        <span id="navbar-dropdown-logo">
          <img src="{{ '/assets/img/hydpy.png' | prepend: site.baseurl }}" alt="Hyderabad Python User Group logo">
        </span>
        <li class="nav-item">
          <a class="nav-link dark {% if page.title=='About' %} active {% endif %}"
            href="{{ '/about/' | prepend: site.baseurl }}">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dark {% if page.title=='Code Of Conduct' %} active {% endif %}"
            href="{{ '/coc/' | prepend: site.baseurl }}">COC</a>
        </li>
      </div>
    </div>
  </div>
</nav>