<div class="promo">
    <hr><a href="//pyconf.hydpy.org" title="Python Conference Hyderabad" style="text-align: center;">
        <h1>Introducing Python Conference Hyderabad 2017</h1>
        <div class="container" style="margin-top:15px;height:350px;background:url({{ '/assets/img/promo/promo_banner.jpg' | prepend: site.baseurl }}) no-repeat;background-size: cover;">
        </div></a>
        <div class="row" style="text-align: center;padding-top: 5px;">
            <a href="//in.explara.com/e/pyconf-hyderabad-2017/checkout" class="btn btn-theme">Register</a>
                <a href="//pyconf.hydpy.org" class="btn btn-theme">More Info...</a>
        </div>
        <hr>
    </div>