
<header>
<div class="row" style="background: #ec6c56; padding-bottom: 20px;">
<div class="logo"></div>
            <div class="col-lg-8 col-lg-offset-2">
            <a href="http://pyconf.hydpy.org">
                <h1>PyConf Hyderabad is Here</h1>
                <h3>Register yourself for first Python Conference in Hyderabad</h3>
            </a>
            <a href="http://pyconf.hydpy.org" class="btn btn-theme">Register Now</a>
            <a href="/pyconf/conference/python/pyconf-hyderabad-2017" class="btn btn-theme">More Info</a>
            </div>
        </div><!-- promo row -->    
        <hr>
</header>