<div id="cwrap">
    <div class="container centered">
        <h3>Our Sponsors</h3>
        <div class="row justify-content-center">
            {% for sponsor in site.sponsors %}
                <div class="col-lg-3 col-md-3 col-sm-3">
                    {% if sponsor.img %}
                        <a href="{{ sponsor.url }}">
                            <img src="{{ "/assets/img/sponsors/" | prepend: site.baseurl }}{{ sponsor.img }}" class="img-responsive">
                        </a>
                    {% else%}
                    <a href="{{ sponsor.url }}"><h1>{{ sponsor.name}} </h1></a>
                    {% endif%}
                </div>
            {% endfor %}
        </div><! --/row -->
    </div><! --/container -->
</div><! --/cwrap -->