<div class="container mt-5">
    <div class="row">
        <h2 class="text-center">What we do?</h2>
        <div class="col-md-6 my-3">
            <div class="row text-center">
                <i class="fa fa-comments fs-1 text-primary my-2" aria-hidden="true"></i>
                <h4 class="my-3">Monthly Talk Events & Project Nights</h4>
            </div>
            <p>
                These are longish presentations (about an hour) about topics of interest to the community. Often we also
                have lightning talks (5-15 minutes) also. If you have something you'd like to share with everyone, drop
                a line to the organizers! Additionally, we organize project nights sometimes, where we get a chance to
                sit down with other Python developers of all experience levels to push your project forward, get help
                with a particular trouble spot, share expertise, or do whatever else you like.
            </p>
            <div class="more-info vertical">
                <button class="btn primary mt-2">
                    <a class="nav-link light" href="https://www.meetup.com/hydpygroup/events/past/" target="_blank">
                        More Info
                    </a>
            </div>
            </button>
        </div>
        <div class="col-md-6 my-3">
            <div class="row text-center">
                <i class="fa fa-calendar fs-1 text-primary my-2" aria-hidden="true"></i>
                <h4 class="my-3">PyConf Hyderabad</h4>
            </div>
            <p>
                PyConf Hyderabad is the regional conference for the community that uses and develops the open-source
                Python Programming Language. The Conference is a tribute to the community and the people who have made
                the community special. We organize this conference every year with an array of Talks and Keynote
                Speakers from around the country. Check out the PyConf Hyderabad Website to know more.
            </p>
            <div class="more-info vertical">
                <button class="btn primary mt-2">
                    <a class="nav-link light" href="https://pyconf.hydpy.org/" target="_blank">More Info</a>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-6 more-info horizontal">
                <button class="btn primary mt-2">
                    <a class="nav-link light" href="https://www.meetup.com/hydpygroup/events/past/" target="_blank">
                        More Info
                    </a>
            </div>
            <div class="col-6 more-info horizontal">
                <button class="btn primary mt-2">
                    <a class="nav-link light" href="https://pyconf.hydpy.org/" target="_blank">More Info</a>
                </button>
            </div>
        </div>
    </div>
</div>